[submodule "opsworks_sidekiq"]
	path = opsworks_sidekiq
	url = git@github.com:drakerlabs/opsworks_sidekiq.git
[submodule "chef-ulimit"]
	path = ulimit
	url = git@github.com:bmhatfield/chef-ulimit.git
[submodule "build-essential"]
	path = build-essential
	url = git@github.com:chef-cookbooks/build-essential.git
[submodule "seven_zip"]
	path = seven_zip
	url = git@github.com:daptiv/seven_zip.git
[submodule "windows"]
	path = windows
	url = git@github.com:chef-cookbooks/windows.git
[submodule "chef_handler"]
	path = chef_handler
	url = git@github.com:chef-cookbooks/chef_handler.git
[submodule "opsworks-redis"]
	path = redisio
	url = git@github.com:mobyinc/opsworks-redis.git
